/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require forms
 */

@import "bootstrap";
@import "bootstrap-toggle";
@import "variables";
@import "font-awesome";
@import "modal";
@import "header";
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  padding-top: 5rem;

  font-family: Lato, sans-serif;
}

.clickable {
  cursor: pointer;
}

.table td > a {
  color: white;
}

.table td > a:hover{
  color: slategrey;
  transition: all 200ms ease-in;
  box-shadow: 0px 0px 150px #000000;
}

button, input {
  margin: .5em 0;
}

.form-section {
  //border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  padding: 1em;
  margin: .5em;
}

.heading {
  text-align: center;
}

hr.faded {
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.year, .month {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem;
    color: #55595c;
    background-color: #fff;
    border-color: #66afe9;
    outline: none;
    width: 100%;
    margin-top: .5em;
    height: calc(2.5rem - 2px);
}



