<div class="nested-fields form-section container">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <%= f.label :mentee_type, 'Mentee Type' %><br>
        <%= f.text_field :mentee_type, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label :first_name, 'First Name' %><br>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label :middle_name, 'Middle Name' %><br>
        <%= f.text_field :middle_name, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label :last_name, 'Last Name' %><br>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label :banner_id, 'Banner ID' %><br>
        <%= f.text_field :banner_id, class: 'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label :study_stage, 'Study Stage' %><br>
        <%= f.text_field :study_stage, class: 'form-control'  %>
      </div>
      <div class="col-xs-3">
        <%= f.label :expected_graduation, 'Expected Graduation Date' %><br>
        <%= f.date_select :expected_graduation, :start_year => Date.today.year, :discard_day => true, :order => [:year, :month], :include_blank => true, :with_css_classes => true %>
      </div>
      <div class="col-xs-3"
        <%= f.label :support_source, 'Support Source' %><br>
        <%= f.text_field :support_source, class: 'form-control' %>
      </div>
      <div class="col-xs-3"
        <%= f.label :placement %><br>
        <%= f.text_field :placement, class: 'form-control' %>
      </div>
    </div>
  </div>
    <%= link_to_remove_association "Remove Mentee Info", f %>
</div>
