<h1>Create New Annual Evaluation Open Period</h1>
<% if current_user.has_role? :department_admin, @department %>
  <fieldset class="form-group">
   <p>Select people to create report for:
    <ul style="list-style: none;">
      <%= form_tag reports_new_path do %>


        <div class="form-check">
          <input type="checkbox" name="checkAll" id="checkAll" checked=true /><label for='all'><h3>All People</h3></label>
        </div>
        <%= collection_check_boxes(nil, :people_ids, @department.people.all, :id, :full_name_reversed, include_hidden: false) do |cb| %>
            <li><%= cb.label class: 'form-check-label' do %>
              <%= cb.check_box(class: "form-check-input", checked: true) %>
              <%= cb.text %></li>
            <% end %>
        <% end %>
        <div class="col-md-5" id="datepicker-container">
          <br><p>Select window open and close date:
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" />
          </div>
        </div>
      <%= submit_tag "Create", class: "btn btn-primary" %>
      <%= link_to 'Cancel', person_reports_path(@person), class: "btn btn-warning btn-md" %>
      <% end %>
    </ul>
  </fieldset>

<% end %>
<script>
      $('#datepicker-container .input-daterange').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>

<script>
$("#checkAll").change(function () {
    $("input:checkbox").prop('checked', $(this).prop("checked"));
});
</script>
